{:paths ["src"]
 :deps {}

 ;; Cursive REPL run configs seem not to like numeric aliases
 :aliases {:y2020 {:extra-deps {philoskim/debux {:mvn/version "0.7.9"}
                                hashp/hashp {:mvn/version "0.2.1"}
                                org.clojure/math.combinatorics {:mvn/version "0.1.6"}
                                instaparse/instaparse {:mvn/version "1.4.10"}
                                digest/digest {:mvn/version "1.4.10"}}}

           :y2021 {:extra-deps {org.clojure/clojure {:mvn/version "1.11.0-alpha4"}
                                hyperfiddle/rcf {:git/url "https://github.com/hyperfiddle/rcf.git"
                                                 :git/sha "c399b1b621b19dc576ea46cd4b254477e1ca9756"}
                                criterium/criterium {:mvn/version "0.4.6"}
                                orchestra/orchestra {:mvn/version "2021.01.01-1"}
                                net.danielcompton/defn-spec-alpha {:mvn/version "0.1.0"}
                                org.clojure/core.logic {:mvn/version "1.0.0"}
                                org.clojure/math.combinatorics {:mvn/version "0.1.6"}
                                org.clojure/data.priority-map {:mvn/version "1.1.0"}
                                com.rpl/specter {:mvn/version "1.1.3"}
                                com.taoensso/tufte {:mvn/version "2.2.0"}
                                org.clojure/test.check {:mvn/version "1.1.1"}}}}}