{:deps {philoskim/debux {:mvn/version "0.7.8"}
        hashp/hashp {:mvn/version "0.2.0"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        instaparse/instaparse {:mvn/version "1.4.10"}}}